version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "terraform"
    directory: "/terraform/environments/dev"
    schedule:
      interval: "weekly"

  - package-ecosystem: "terraform"
    directory: "/terraform/environments/prod"
    schedule:
      interval: "weekly"

  - package-ecosystem: "gomod"
    directory: "/tools/preflight"
    schedule:
      interval: "weekly"
